# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Optional: ignore coverage reports
coverage/

# Optional: build/ or dist/ if you're compiling
build/
dist/

# Optional: uploads (if storing
